:root {
    --branco-principal: #FFFFFF;
    --vermelho-secundario: #ff0000;
    --botao-lilas: #ea00ff;
    --cor-de-fundo: #000000;
    --cor-de-fundo2: #ffffff;
    --fonte-principal: 'Merriweather';
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}
.container__section {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    align-items: center;

}

.container__imagemfundo{
    background-image: url(imagens/ProjetoImagemHome.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.container__imagemfundo2{
    background-image: url();
    background-repeat: no-repeat;
    background-size: contain;
    height: 120vh;
}
.imagemhome{
    height: 70px;
    margin: 1em 11em; 
    
}
.imagem{
    height: 50px;
    align-items: center;
    margin: 0em 3em;
}
.container__margem{
    margin: 0 1em;
}
.ex__titulo{
    font-size: 40px;
    text-align: center;
    align-items: center;
}
.container__titulo {
    font-size: 40px;
    display: grid;
    margin: 1em 2em;
    text-align: center;
    align-items: center;
}

.container__subtitulo{
    font-size: 25px;
    display: grid;
    margin: 1em 2em;
    text-align: center;
    align-items: center;
}

.container__botao{
    background-color: var(--botao-lilas);
    color: var(--branco-principal);
    display: grid;
    text-decoration:none;
    padding: 20px;
    font-size: 25px;
    border-radius: 1em;
    border-style: outset;
    margin: 1em 2em;
    text-align: center;
}

.segundario__botao{
    background-color: var(--branco-principal);
    color: var(--botao-lilas);

}

.container__descricao{
    font-size: 20px;
    text-align: center;
}

.segundario__section{
    background-color: var(--cor-de-fundo2);
    color: black;
}

.container__imagem{
    height: 100%;   
}

.container__fundo{
    background-color: #ea00ff;
}

.rodape{
    text-align: center;
}
.rodape__logo {
    width: 15%;
    margin: 2em 0;
}
.rodape__lista{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 7em;
    font-size: 20px;
    
}
.lista__link a {
    text-decoration: none;
    color: var(--botao-lilas);
}
    


